.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
  color: black;
}

.card {
  background: #124b96;
  padding: 16px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.resultsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resultItem {
  padding: 8px;
  border-radius: 6px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}

.win {
  background: #d0f0d0;
}

.loss {
  background: #f7d0d0;
}

.draw {
  background: #eaeaea;
}

.date {
  opacity: 0.6;
}
